---
import Layout from "../layouts/Layout.astro";
import SocialLink from "../components/SocialLink.astro";
import ProjectList from "../components/ProjectList.astro";
---

<Layout title="Niklas' awesome site">
	<!-- Introduction -->
	<section class="flex flex-col items-center gap-8">
		<div class="mt-[7.5vh] flex flex-col items-center">
			<h1 class="text-6xl mb-4 text-center">
				Hey, I'm <span class="gradient-text">Niklas</span>
			</h1>
			<p class="text-center text-xl max-w-[85vw]">
				You'll find me online as <span class="font-bold"
					>BaumianerNiklas</span
				> or <span class="font-bold">Neoon</span>.
				<br />
				 I'm a student from Germany and enjoy coding in my free time.
			</p>
		</div>
		<div class="flex gap-4">
			<SocialLink
				iconName="i-uil-github-alt"
				url="https://github.com/BaumianerNiklas"
			/>
			<SocialLink
				iconName="i-lucide-mail"
				url="mailto:hi@neiklaes.tech"
			/>
		</div>
	</section>

	<ProjectList />
</Layout>
