---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

	:root {
		--clr-bg: #0a0a0a;
		--clr-gradient-primary: linear-gradient(to right, #7297fc, #18ffff);
	}

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	body {
		min-height: 100vh;
		color: white;
		font-family: "Inter", sans-serif;
		background-color: var(--clr-bg);
	}

	section {
		margin-bottom: 1.5rem;
	}

	.gradient-text {
		background: var(--clr-gradient-primary);
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
	}
</style>
